.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%
}

#home-nav
{
    text-align: center;
}

#home-nav .nav-item
{
    color: white;
}

#home-title
{
    text-align: center;
    color: white;
}

.inner
{
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.no-padding
{
    padding: 0;
}

.outer
{
    display: inline-block;
}

.scaling-background
{
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: auto;
}

