<body>
    <div class="container-fluid no-padding" style="z-index: -1; position: fixed">
        <div class="row">
            <div class="col">
                    <img class="scaling-background card-img" src='{{ backgroundSrc }}'/>
                    <!-- <div class="card-img-overlay">
                            <h1 id="home-title">Jose Medina</h1>
                            <ul id="home-nav" class="nav">
                                <li class="nav-item">
                                    <a class="nav-link">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link">About</a>
                                </li>
                            </ul>
                    </div> -->
            </div>
        </div>
    </div>
    <div class="container-fluid h-100" style="position: fixed; z-index: 1">
        <div class="row align-items-center h-100">
            <div class="col">
                <h1 id="home-title">Jose Medina</h1>
                <ul id="home-nav" class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>

